<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jawaban No 2</title>
</head>
<body>
    <div id="app">
        <h3>Jawaban No 2</h3>
        <button onclick="vm.openForm()">Open Form</button>
        <h1>{{ `Nilai a : ` + a }}</h1>
        <h1>{{ `Rata-rata a : ` + rata }}</h1>
        <h3>{{count}}</h3>
      </div>
      
      <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
      <script>
       var vm = new Vue({
          el: '#app',
          data: {
            a : 0,
            rata : 0,
            count : 0
          },
          methods : {
            openForm : function(){
                while (this.a <=10) {
                    this.a = this.a + parseInt(prompt("Masukkan nilai a:"))
                    this.count = this.count+1
                }
                this.rata=this.a / this.count
            }
          }
      })
      </script>
</body>
</html>