<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas Form Input Binding</title>
</head>
<body>
    <div id="app">
        <input type="text" name="filter" id="inputfilter" v-model="bookfilter" placeholder="Cari">
        <ul>
            <li v-for = "item in searchResult">
                <p >
                    {{item}}
                </p>
            </li>
        </ul>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        const vm = new Vue({
            el:"#app",
            data:{
                books:[
                    'Kalkulus Dasar',
                    'Fisika Dasar',
                    'Aljabar Linier Elementer',
                    'Aljabar Abstrak',
                    'Algoritma Pemrograman'
                ],
                bookfilter:''
            },
            computed: {
                    searchResult() {
                    let tempList = this.books
                    
                    if (this.bookfilter != '' && this.bookfilter) {
                        tempList = tempList.filter((satuan) => {
                            return satuan
                                .toUpperCase()
                                .includes(this.bookfilter.toUpperCase())
                            })
                        }
                        return tempList
                    }
            },
            methods:{

            }
        })
    </script>
</body>
</html>