<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta nama="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz 5</title>
</head>
<body>

<div id="vn">
    <div id="nama-list">
    <form v-on:submit.prevent="addNewnama()">
        <label for="new-nama">Input Nama</label>
        <input v-model:value="newnamaText" id="new-nama" >
        <button id="btn">{{btn}}</button>
    </form>
    <ul>
        <li
        is="nama-item"
        v-for="namanya in namas"
        v-bind:key="namanya.id"
        v-bind:nama="namanya.nama"
        v-on:edit="editNama(namanya)"
        v-on:remove="hapus(namanya)"
        ></li>
    </ul>
    </div>

</div>
    
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>    
 Vue.component('nama-item', {   
  template: '\
    <li>\
      {{ nama }}\
      <button v-on:click="$emit(\'edit\')">Edit</button>\
      <button v-on:click="$emit(\'remove\')">Delete</button>\
    </li>\
  ',
  props: ['nama']
    })

const vn= new Vue({
  el: '#nama-list',
  data: {
    btn:'Add',
    edit:'',
    newnamaText: '',
    namas: [
      {
        id: 1,
        nama: 'Muhammad Iqbal Mubarok',
      },
      {
        id: 2,
        nama: 'Ruby Purwanti',
      },
      {
        id: 3,
        nama: 'Faqih Muhammad'
      }
    ],
    nextnamaId: 4
  },
  methods: {
    addNewnama: function () {
      if (this.btn==="Add"){
        this.namas.push({
        id: this.nextnamaId++,
        nama: this.newnamaText
      })} else {
        this.namas[this.edit].nama = this.newnamaText
      }
      this.newnamaText = '',
      this.btn="Add"
    },
    editNama:function(nama1){
        this.newnamaText = nama1.nama
        this.btn="Update"
        this.edit = this.namas.indexOf(nama1)
    },
    hapus:function(namahapus){
        if (confirm('Anda yakin akan menghapus?')) {
          this.namas.splice(this.namas.indexOf(namahapus), 1)
        //   this.edit = namahapus
        } else {
        }
    }
  }
})
    </script>

</body>
</html>
